@import "tailwindcss";
@import "tailwindcss/utilities";

/* Aquí puedes agregar estilos personalizados más adelante, si quieres */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Cuando el menú está abierto desplazamos toda la app */
.menu-open #app {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

/* Normal */
#app {
  transition: transform 0.3s ease;
}

